/*
Proyecto: Mi porfolio
Autor: lcastillo
© Argentina Programa 2022
*/
@media (min-width: 576px){
    body{
        overflow-x: hidden;
     }
    .row{
        padding: 20px;
    }
    div{
        background: #b5cba1;
    }
    h1, h4{
        display: inline;
    }
    img{
    
        width: 70px;
    }
    }
    @media (max-width: 575px){
        .row{
            padding: 20px;
        }
        div{
            background: #b5cba1;
        }
        h1, h4{
            display: table-column ;
        }
        img{
        
            width: 70px;
        }
    }