/*
Proyecto: Mi porfolio
Autor: lcastillo
© Argentina Programa 2022
*/
.row{
    background: #b5cba1;
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}

  .foot{
        float: right;
        margin-top: 25px;
    }

img{
    width: 50px;
    margin-left:80%;
   
}
.wapp{
    
     
}
