<!--
Proyecto: Mi porfolio
Autor: lcastillo
© Argentina Programa 2022
-->

<div class="row">
    <h1>Experiencia laboral</h1>
    
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td><h4>{{Experiencia.nombreE}}</h4></td>
                    <td>{{Experiencia.periE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td><img src={{Experiencia.imgE}} class="logo"></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

