<!--
Proyecto: Mi porfolio
Autor: lcastillo
© Argentina Programa 2022
-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>I'm a proactive person, always instructing and preparing for further growth both personally and professionally.
                I intend to give the best to the company of which it forms part.
                I'm very sociable, I have excellent handling of interpersonal relationships, very responsible and respectful.
                I'm very interested all areas related to consumer electronics. Although, in recent years, I more specialized in embedded electronics.
                </p>
        </span>
    </div>
</div>