<!--
Proyecto: Mi porfolio
Autor: lcastillo
© Argentina Programa 2022
-->
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/leonardo-enrique-castillo-629075ab"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/castillo_leo"><img src="../../../assets/twitter.png" id="twitter"></a>
            
            <a href="https://github.com/castilloleogithub?tab=repositories"><img src="../../../assets/github.png" id="github"></a>
           
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

